<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title - HortFrut</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/materialize/SisBankValidate.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/mascaras.js"></script>
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <div class="loading">
        <img class="imgLoading" src="@Url.Content("~/Content/Img/loading.gif")" />
    </div>
    <header>
        <ul id="alteracoes" class="dropdown-content">
            <li>@Html.ActionLink("Clientes", "EditaCliente", "Clientes")</li>
            <li>@Html.ActionLink("Usuários", "EditaUsuario", "Usuarios")</li>
        </ul>
        <ul id="cadastros" class="dropdown-content">
            <li>@Html.ActionLink("Clientes", "CadastraCliente", "Clientes")</li>
            <li>@Html.ActionLink("Usuários", "CadastraUsuario", "Usuarios")</li>
        </ul>
        <ul id="operacoes" class="dropdown-content">
            <li>@Html.ActionLink("Venda", "Venda", "Operacoes")</li>
        </ul>
        <nav class="fixed " id="menu">
            <div class="nav-wrapper #42a5f5 blue lighten-1">
                <a href="/Usuarios/Logout" class="brand-logo"><i class="material-icons right" title="Deseja sair do sistema?">highlight_off</i></a>
                <a href="/Home/Index" class="brand-logo center" title="Ir para página inicial?"><i class="material-icons">home</i></a>
                @{
                    if (Session["cliente"] != null)
                    {
                        var cliente = (ProjetoHortFrut.MVC.ViewModels.ClienteViewModel)Session["cliente"];
                        <span id="usuarioLogado">Bem Vindo(a): @cliente.nome</span>
                        <ul class="right hide-on-med-and-down">                           
                                <li><a class="dropdown-button" href="#!" data-activates="alteracoes">Alteracões<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a class="dropdown-button" href="#!" data-activates="cadastros">Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a class="dropdown-button" href="#!" data-activates="operacoes">Operações<i class="material-icons right">arrow_drop_down</i></a></li>                            
                        </ul>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container margim-top container80">
        @RenderBody()
    </div>
    <footer class="page-footer #42a5f5 blue lighten-1 center-align">
        SisHortFrut - © 2018 Copyright 
    </footer>
    <script src="~/Scripts/materialize/SisBankValidate.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
